html {
    width: 100vw; // as wide as the screen width, not affected by the scroll bar.
    overflow-x: hidden; // prevent horizontal scroll.
}

body {
    max-width: 600px;
    margin: 0 auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@keyframes pulse-animation {
    0% {
        box-shadow: 0 0 0 0px rgba(0, 127, 255, 0.2);
    }
    100% {
        box-shadow: 0 0 0 12px rgba(0, 127, 255, 0);
    }
}

